*, *::before, *::after {
    box-sizing: border-box;
}


/* Styles for "index.html" */

/* Import custom fonts */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Variables */
:root {
    --basic-white: #ffffff;
    --basic-white-footer: rgba(255, 255, 255, 0.9);
    --basic-white-active: rgba(255, 255, 255, 0.3);
    --basic-white-disabled: #6A6A6A;
    --basic-black: #000000;
    --basic-blue: #81B3D2;
    --basic-blue-hovered: #669EC0;
    --basic-blue-clicked: #5496BD;
    --basic-grey: #EEEEEE;
    --basic-extra-grey: #F2F2F2;
    --basic-extra-grey-hovered: #EBEBEB;
    --basic-extra-grey-focused: #E5E5E5;
    --special-grey: #BDBBBC;
    --sign-grey: #A9A9A9;
    --no-fill: transparent;

    --special: #766357;
    --special-hovered: #604E43;
    --special-clicked: #503E33;

    --ptsans : "PT Sans", Arial, sans-serif;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: var(--ptsans);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/* Index Page */

/* Main Elements */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
  }

.main-header,
.container,
.main-footer {
    width: 1200px;
    margin: 0 auto;
}


/* Main navigation */

.main-nav {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    background-color: var(--basic-white);
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -14px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.site-navigation li {
    width: 240px;
}

.site-navigation li:nth-child(1) {
    padding-left: 32px;
}

.site-navigation li:nth-child(2) {
    margin-right: 326px;
    text-align: center;
    word
}

.site-navigation li:nth-child(3) {
    padding-right: 46px;
    text-align: center;
}

.site-navigation li:nth-child(4) {
    padding-right: 72px;
    text-align: right;
}

.site-navigation__item a {
    color: var(--basic-black);
}

.site-navigation__item a:hover {
    color: var(--basic-blue);
}

.site-navigation__item a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation__item a:focus {
    color: var(--special);
}

.main-header {
    margin-bottom: 1px;
}

/* Promo Section */
.promo__banner {
    position: relative;
}

.banner__slogan {
    position: absolute;
width: 458px;
left: 50%;
transform: translateX(-50%);
top: 76px;
}

.banner__image {
    position: relative;
    z-index: -1;
    width: 1200px;
}

.banner__decoration {
    position: relative;
    z-index: 1;
    width: 1200px;
    fill: var(--basic-white);
    bottom: 62px;
}

.promo__desc {
    font-family: var(--ptsans);
font-weight: bold;
font-size: 21px;
line-height: 27px;
text-align: center;
position: relative;
left: 371px;
bottom: 48px;
width: 460px;
}

.inner-line {
    word-spacing: 17px;
}

.promo__text {
    text-align: center;
position: relative;
left: 358px;
bottom: 24px;
width: 487px;
font-weight: normal;
margin-bottom: 31px;
}

/* Facts Section */

.facts {
    display: flex;
    flex-direction: column;
}

.fact--blue {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: var(--basic-blue);
}

.fact--blue:nth-child(2) {
    flex-direction: row-reverse;
}

.fact__image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.fact__info {
    color: var(--basic-white);
    font-weight: normal;
    width: 322px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.fact__info h4 {
    width: 151px;
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: auto;
}

/* .fact__info span {
    margin-bottom: 10px;
} */

.fact__info p {
    margin-top: 25px;
}

.facts-list {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: var(--basic-grey)
}

.facts-list .fact__info {
    color: var(--basic-black);
padding: 40px;
padding-top: 40px;
padding-bottom: 40px;
padding: 40px 350px;
padding-left: 22px;
padding-right: 22px;
}

/* Features Inner Section */

.features-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-around;
}

.features-list__item {
    padding-top: 61px;
    margin-bottom: 63px;
}

.features-list__item svg {
    fill: var(--basic-blue);
}

.features-list__item h4 {
    font-size: 21px;
    margin-top: 20px;
}

.features-list__item h4:first-child{
    font-size: 21px;
    margin-top: 24px;
}

.features-list__item p {
    font-weight: normal;
    width: 290px;
}

/* Search Section */

.search {
    text-align: center;
}

.search h3,
.search p {
    text-align: center;
}

.search p {
    font-weight: normal;
    margin-bottom: 106px;
    line-height: 25px;
}

.search h3 {
    font-size: 30px;
    line-height: 24px;
    padding-top: 26px;
}

.search a {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 25px;
    font-weight: bold;
    background: var(--special);
    padding: 29px 139px;
    position: relative;
    bottom: 30px;

}

.search a:hover {
    background: var(--special-hovered);
}

.search a:active {
    background: var(--special-clicked);
    color: var(--basic-white-active);
}

.search form {
    display: none;
}

.search__form {
    position: absolute;
    background-color: var(--basic-white);
    z-index: 3;
    width: 568px;
    padding: 55px;
    box-shadow: 0px 7px 15px rgba(0, 0, 1, 0.15);
    left: 436px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-form__check-in,
.search-form__check-out {
    width: 346px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    font: inherit;
    background-color: transparent;
    margin-bottom: 29px;
    border: none;
    background-color: var(--basic-extra-grey);
}

.search-form__calendar {
    position: absolute;
    background-color: var(--no-fill);
    border: none;
}

.search-form__calendar svg {
    fill: var(--sign-grey);
}

.search-form__calendar svg:hover {
    fill: var(--basic-black);
}

.search-form__calendar svg:active {
    fill: var(--basic-blue);
}

.search-form__calendar:nth-of-type(1) {
    right: 63px;
}

.search-form__calendar:nth-of-type(2) {
    right: 63px;
    top: 129px;
}

.search-form__guests {
    width: 114px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    font: inherit;
    background-color: transparent;
    border: none;
    background-color: var(--basic-extra-grey);
    margin-bottom: 29px;
}

.search-form__adults {
    width: 226px;
    height: 38px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search-form__kids {
    width: 200px;
    height: 38px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.minus,
.add {
    position: absolute;
    background-color: transparent;
    fill: var(--sign-grey);
    border: none;
}

.minus svg:hover {
    fill: var(--basic-black);
}

.minus svg:active {
    fill: var(--basic-blue);
}

.add svg:hover {
    fill: var(--basic-black);
}

.add svg:active {
    fill: var(--basic-blue);
    outline: none;
}

.adults-subtract {
    right: 138px;
    bottom: 177px;
}

.adults-add {
    right: 65px;
    bottom: 173px;
}

.kids-subtract {
    left: 173px;
    bottom: 177px;
}

.kids-add {
    left: 250px;
    bottom: 173px;
}

.search-form__guests {
    text-align: center;
}

.search-form__btn {
    padding: 16px 200px;
    background-color: var(--basic-blue);
    border: 0;
    color: var(--basic-white);
    font-size: 21px;
    font-weight: bold;
}

.search-form__btn:hover {
    color: var(--basic-white);
    background-color: var(--basic-blue-hovered);
}

.search-form__btn:active {
    color: var(--basic-white-active);
    background-color: var(--basic-blue-clicked);
}

.search__map {
    background-color: var(--special-grey);
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: auto;
    /* position: absolute; */
    /* z-index: -1; */
}

.search__map iframe {
    width: 100%;
    border: none;
}

/* Main Footer */

.main-footer {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* position: absolute; */
    z-index: 1;
    /* bottom:0; */
    /* left:0; */
    margin-left:auto;
    margin-right:auto;
    background-color: var(--basic-white-footer);
    padding: 23px;
    bottom: 9px;
    left: 103px;
}

.contacts a {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    color: black;
    line-height: 35px;
}

.social-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 171px;
}

.social-list__item svg {
    margin: auto;
    display: inline-block;
    margin-top: 15px;
}

.social-list__item:nth-of-type(2) svg {
    margin-top: 14px;
}

.social-list__item {
    text-align: center;
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    margin-left: 6px;
}

.social-list__item svg {
    margin-top: 18px;
}

.social-list__item:hover {
    background-color: var(--basic-blue-hovered);
}

.social-list__item:active {
    background-color: var(--basic-blue-clicked);
}

.social-list__item svg {
    fill: var(--basic-white)
}

.social-list__item svg:active {
    fill: var(--basic-white-active)
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 13px;
    margin-left: 119px;
}

.contacts a:hover {
    color: var(--basic-blue);
}

.contacts a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.contacts a:focus {
    color: var(--special);
}

.reference {
    margin-left: 190px;
    font-weight: normal;
    display: flex;
}

.reference span {
    margin-top: 17px;
}

.reference a {
    margin-left: 8px;
margin-top: 5px;
}

.reference svg {
    fill: var(--basic-black);
}

.reference svg:hover {
    fill: var(--basic-blue);
}

.reference svg:active {
    fill: var(--special-grey);
}

/* Hotels Page */
/* Filters */

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter__infrastructure {
    display: flex;
    flex-direction: column;
}

.filter .filter__housing {
    display: flex;
    flex-direction: column;
    margin-left: 116px;
}



.filters {
    background-color: var(--basic-blue-hovered);
    background-image: url(../img/filter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--basic-white);
}

.filters button {
    display: block;
    border: 2px solid var(--basic-white);
    background-color: var(--no-fill);
    padding: 8px 36px;
    color: var(--basic-white);
    font-weight: bold;
}

.range-controls {
    position: relative;
  }


.toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 21px;
    height: 21px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--special-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.toggle-max {
    left: 240px;
}

.toggle:hover {
    width: 22px;
    height: 22px;
}

.range-controls .scale {
display: flex;
}

.scale .bar--white {
height: 2px;
background: var(--basic-white);
margin-top: 20px;
width: 248px;
}

.scale .bar--grey {
height: 2px;
background: var(--special-grey);
margin-top: 20px;
width: 58px;
}

.filter-checkbox,
.filter-cost {
    border: 0;
}

.filter-checkbox {
    margin-top: 29px;
    margin-bottom: 14px;
    margin-left: 90px;
}

.filter__cost {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 26px;
    margin-right: 72px;
}

.filter-cost__devider {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 160px;
    width: 2px;
height: 22px;
    background-color: var(--basic-white);
}

.filter-cost__prices input {
    border: 0;
    background: var(--no-fill);
    color: var(--basic-white);
    text-align: center;
    width: 150px;
    font-weight: bold;
}

.filter-btn button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.filter-cost__group {
    border: 2px solid var(--basic-white);
    padding: 10px;
    position: relative;
}


.filter-checkbox legend {
    padding-bottom: 20px;
}

.info-check {
    padding-left: 11px;
    padding-bottom: 25px;
}

.info-check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.info-check__box {
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(../img/checkbox-off.svg);
    margin-left: -40px;
    background-repeat: no-repeat;
}
/* Checked */
.info-check__input:checked + .info-check__box {
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

/* Disabled */
.info-check__input:disabled + .info-check__box {
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

/* Disabled-Checked */
.info-check__input:checked:disabled + .info-check__box {
    background-image: url(../img/checkbox-on-dis.png);
    background-repeat: no-repeat;
}

/* Catalog */
.catalog h3 {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21;
}

.sort-links {
    list-style: none;
}


.sort-links a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:hover {
    color: var(--basic-blue);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:active {
    color: var(--basic-black);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:focus {
    color: var(--basic-blue);
    border-bottom: none;
}

.sort-asc svg,
.sort-desc svg {
    fill: var(--basic-black);
    opacity: 0.3;
}

.sort-asc svg:hover,
.sort-desc svg:hover {
    fill: var(--basic-black);
    opacity: 1;
}

.sort-asc svg:active,
.sort-desc svg:active {
    fill: var(--basic-blue);
}
.sort-asc svg:focus,
.sort-desc svg:focus {
    fill: var(--basic-blue);
}

.catalog-item__rating ul {
    list-style: none;
    display: flex;
}

.catalog-item__rating li {
    padding-left: 6px;
}

.rating-star svg {
    fill: var(--basic-blue);
}

.catalog__item p {
    font-weight: normal;
    background-color: var(--basic-extra-grey);
    text-align: center;
}

.sort {
    display: flex;
}

.sort__results {
    margin: auto 0;
    margin-left: 73px;
}

.sort__results h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sort__categories {
    display: flex;
    margin: auto 0;
}

.sort__categories span {
    padding-left: 46px;
    font-weight: normal;
}

.sort__categories ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.sort__order ul {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
}

.sort__order li:nth-child(1) {
    margin-right: 12px;
}

.sort__links li {
    padding-right: 30px;
    font-weight: normal;
}

.sort__links a {
    color: var(--special-grey);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort__links a:active {
    color: var(--basic-black);
    border: none;
}

.sort__links a:hover {
    color: var(--basic-blue);
}

.sort__links a:focus {
    color: var(--basic-blue);
    border: none;
}

.sort__order {
    margin-left: auto;
}

.sort__order ul {
    list-style: none;
    display: flex;
}

/* Catalog List */
.catalog__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.catalog__item:nth-child(1) {
    border-top: 1px solid var(--special-grey);
}

.catalog__item {
    display: flex;
    width: 1200px;
    border-bottom: 1px solid var(--special-grey);
    padding-left: 73px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-info h3 {
    padding: 0;
    margin: 0;
    padding-bottom: 8px;
}

.item-info__buttons {
    display: flex;
}

.item-info__type {
    display: flex;
    flex-direction: column;
}

.item-info__type span,
.item-info__cost span {
    margin-bottom: 10px;
}

.item-info__cost {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.catalog-item__rating {
    margin-left: auto;
    margin-right: 75px;
}

.catalog-item__rating p {
    margin:0;
    padding: 0;
    width: 110px;
    margin-left: auto;
}

.catalog-item__rating li {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 5px;
}

.catalog-item__image {
}

.catalog-item__image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.item-info {
    padding-left: 29px
}

.item-info__link {
    color: var(--basic-black);
}

.item-info__link:hover {
    color: var(--basic-blue);
}

.item-info__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.item-info__details {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding: 3px 16px;
}

.item-info__details:hover {
    background-color: var(--basic-blue-hovered);
}

.item-info__details:active {
    background-color: var(--basic-blue-clicked);
    color: var(--basic-white-active);
}

.item-info__book {
    color: var(--basic-white);
    background-color: var(--special);
    padding: 3px 16px;
}

.item-info__book:hover {
    background-color: var(--special-hovered);
}

.item-info__book:active {
    background-color: var(--special-clicked);
    color: var(--basic-white-active);
}

/* Visually Hidden */
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

