/* Styles for "index.html" */

/* Import custom fonts */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Variables */
:root {
    --basic-white: #ffffff;
    --basic-white-disabled: #6A6A6A;
    --basic-black: #000000;
    --basic-blue: #81B3D2;
    --basic-blue-hovered: #669EC0;
    --basic-blue-clicked: #5496BD;
    --basic-grey: #EEEEEE;
    --basic-extra-grey: #F2F2F2;
    --basic-extra-grey-hovered: #EBEBEB;
    --basic-extra-grey-focused: #E5E5E5;


    --special: #766357;
    --special-hovered: #604E43;
    --special-clicked: #503E33;

    --ptsans : "PT Sans", Arial, sans-serif;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: var(--ptsans);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/* Index Page */
/* Main navigation */

.navigation {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: var(--basic-white);
  }


.menu {
    list-style: none;
}

.menu a {
    color: var(--basic-black);
}

.menu a:hover {
    color: var(--basic-blue);
}

.menu a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.menu a:focus {
    color: var(--special);
}

/* Promo */
.definition {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

/* Info */

.fact-info,
.feature-list__item {
    text-align: center;
}

.feature-list {
    list-style: none;
}

.info h4 {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
}

/* Location */

.location {
    display: none;
}

/* Footer */

.contacts a {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    color: black;
    line-height: 26px;
}

.contacts a:hover {
    color: var(--basic-blue);
}

.contacts a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.contacts a:focus {
    color: var(--special);
}

/* Hotels Page */
/* Filters */
.filters {
    display: none;
}

/* Catalog */
.catalog h3 {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21;
}

.sort-links {
    list-style: none;
}

.sort-links a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:hover {
    color: var(--basic-blue);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:active {
    color: var(--basic-black);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:focus {
    color: var(--basic-blue);
    border-bottom: none;
}

/* Catalog List */
.catalog__list {
    list-style: none;
}

.item-info__link {
    color: var(--basic-black);
}

.item-info__link:hover {
    color: var(--basic-blue);
}

.item-info__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.item-info__details {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding: 3px 16px;
}

.item-info__details:hover {
    background-color: var(--basic-blue-hovered);
}

.item-info__details:active {
    background-color: var(--basic-blue-clicked);
    color: rgba(255, 255, 255, 0.3);
}

.item-info__book {
    color: var(--basic-white);
    background-color: var(--special);
    padding: 3px 16px;
}

.item-info__book:hover {
    background-color: var(--special-hovered);
}

.item-info__book:active {
    background-color: var(--special-clicked);
    color: rgba(255, 255, 255, 0.3);
}

/* Visually Hidden */
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}