*, *::before, *::after {
    box-sizing: border-box;
}


/* Styles for "index.html" */

/* Import custom fonts */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Variables */
:root {
    --basic-white: #ffffff;
    --basic-white-active: rgba(255, 255, 255, 0.3);
    --basic-white-disabled: #6A6A6A;
    --basic-black: #000000;
    --basic-blue: #81B3D2;
    --basic-blue-hovered: #669EC0;
    --basic-blue-clicked: #5496BD;
    --basic-grey: #EEEEEE;
    --basic-extra-grey: #F2F2F2;
    --basic-extra-grey-hovered: #EBEBEB;
    --basic-extra-grey-focused: #E5E5E5;
    --special-grey: #BDBBBC;
    --no-fill: transparent;

    --special: #766357;
    --special-hovered: #604E43;
    --special-clicked: #503E33;

    --ptsans : "PT Sans", Arial, sans-serif;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: var(--ptsans);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/* Index Page */
/* Main navigation */

.navigation {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: var(--basic-white);
  }


.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu__item {

}

.menu a {
    color: var(--basic-black);
}

.menu a:hover {
    color: var(--basic-blue);
}

.menu a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.menu a:focus {
    color: var(--special);
}

/* Promo */
.definition {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

/* Info */

.fact-info,
.feature-list__item {
    text-align: center;
}

.feature-list {
    list-style: none;
}

.info h4 {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
}

.facts {
    display: flex;
}

.feature-list {
    display: flex;
    justify-content: space-between;
}

.fact-two .fact-info,
.fact-one .fact-info {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.fact-info {
    flex-grow: 1;
}

.promo p {
    text-align: center;
}

.fact-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.feature-list__item svg {
    fill: var(--basic-blue);
}

/* Location */

.location h3,
.location p {
    text-align: center;
}

.location h3 {
    font-size: 30px;
    line-height: 24px;
}

.location a {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    background: var(--special);
    padding: 30px 125px;
}

.location a:hover {
    background: var(--special-hovered);
}

.location a:active {
    background: var(--special-clicked);
    color: var(--basic-white-active);
}

.location__form {
    width: 458px;
    padding: 55px;
    margin: 20px;
    box-shadow: 0px 7px 15px rgba(0, 0, 1, 0.15);
}

.form-hotel__check-in,
.form-hotel__check-out {
    background-color: var(--basic-extra-grey);
    width: 346px;
    height: 38px;
    border: 0;
}

.form-hotel__check-in:hover,
.form-hotel__check-out:hover {
    background-color: var(--basic-extra-grey-hovered);
}

.form-hotel__check-in:focus,
.form-hotel__check-out:focus {
    outline: 2px solid var(--basic-extra-grey-focused);
    background-color: var(--basic-white);
}

.form-hotel__btn {
    padding: 16px 196px;
    background-color: var(--basic-blue);
    border: 0;
    color: var(--basic-white);
    font-size: 21px;
    font-weight: bold;
}

.form-hotel__btn:hover {
    color: var(--basic-white);
    background-color: var(--basic-blue-hovered);
}

.form-hotel__btn:active {
    color: var(--basic-white-active);
    background-color: var(--basic-blue-clicked);
}

.location__map {
    background-color: var(--special-grey);
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
}


/* Footer */

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts a {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21px;
    color: black;
    line-height: 26px;
}

.social-list {
    list-style: none;
    display: flex;
}

.social-list__item a svg {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.social-list__item {
    text-align: center;
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
}

.social-list__item:hover {
    background-color: var(--basic-blue-hovered);
}

.social-list__item:active {
    background-color: var(--basic-blue-clicked);
}

.social-list__item svg {
    fill: var(--basic-white)
}

.social-list__item svg:active {
    fill: var(--basic-white-active)
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts a:hover {
    color: var(--basic-blue);
}

.contacts a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.contacts a:focus {
    color: var(--special);
}

.reference svg {
    fill: var(--basic-black);
}

.reference svg:hover {
    fill: var(--basic-blue);
}

.reference svg:active {
    fill: var(--special-grey);
}

/* Hotels Page */
/* Filters */
.filters {
    background-color: var(--basic-blue-hovered);
    background-image: url(../img/filter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--basic-white);
}

.filters button {
    border: 1px solid var(--basic-white);
    background-color: var(--no-fill);
    padding: 8px 36px;
    color: var(--basic-white);
}

.info-check{
    padding-left: 20px;
}

.info-check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.info-check__box {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/checkbox-off.svg);
    margin-left: -20px;
}
/* Checked */
.info-check__input:checked + .info-check__box {
    background-image: url(../img/checkbox-on.svg);
}

/* Disabled */
.info-check__input:disabled + .info-check__box {
    background-image: url(../img/checkbox-off.svg);
}

/* Disabled-Checked */
.info-check__input:checked:disabled + .info-check__box {
    background-image: url(../img/checkbox-on-dis.png);
}

/* Catalog */
.catalog h3 {
    font-family: var(--ptsans);
    font-weight: bold;
    font-size: 21;
}

.sort-links {
    list-style: none;
}


.sort-links a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:hover {
    color: var(--basic-blue);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:active {
    color: var(--basic-black);
    border-bottom: 1px dotted var(--basic-blue);
}

.sort-links a:focus {
    color: var(--basic-blue);
    border-bottom: none;
}

.sort-asc svg,
.sort-desc svg {
    fill: var(--basic-black);
    opacity: 0.3;
}

.sort-asc svg:hover,
.sort-desc svg:hover {
    fill: var(--basic-black);
    opacity: 1;
}

.sort-asc svg:active,
.sort-desc svg:active {
    fill: var(--basic-blue);
}

.sort-asc svg:focus,
.sort-desc svg:focus {
    fill: var(--basic-blue);
}

.rating-star svg {
    fill: var(--basic-blue);
}

.catalog__item p {
    font-weight: normal;
    background-color: var(--basic-extra-grey);
    width: 110px;
    height: 27px;
    padding: 3px 12px;
}

/* Catalog List */
.catalog__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.catalog__item {
    display: flex;
    justify-content: space-between;
}

.item-info__link {
    color: var(--basic-black);
}

.item-info__link:hover {
    color: var(--basic-blue);
}

.item-info__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.item-info__details {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding: 3px 16px;
}

.item-info__details:hover {
    background-color: var(--basic-blue-hovered);
}

.item-info__details:active {
    background-color: var(--basic-blue-clicked);
    color: var(--basic-white-active);
}

.item-info__book {
    color: var(--basic-white);
    background-color: var(--special);
    padding: 3px 16px;
}

.item-info__book:hover {
    background-color: var(--special-hovered);
}

.item-info__book:active {
    background-color: var(--special-clicked);
    color: var(--basic-white-active);
}

/* Visually Hidden */
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

